body,
html {
  width: 100%;
  height: 100%;
}

body {

  font-family: 'Montserrat', sans-serif;

}

.btn-primary {
  background-color: #ff8080;
  border: 2px solid #ff8080;
}

.btn-primary:hover {
  background-color: #ffb3b3;
  border: 2px solid #ffb3b3;
}

/* Main content background */
main.startup {

  background-image: url(./header2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;

}

main.startup hr {

  margin-top: 200px;
  margin-bottom: 30px;
}

#mc_embed_signup {

clear: left; 
font: 14px Helvetica, Arial, sans-serif;

}
